@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100% !important;
  max-height: 100vh !important;
  overflow: hidden !important;
  font-family: system-ui, -apple-system, sans-serif;
}
